<<<<<<< Updated upstream
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0; /* Increased margin for more spacing */
}

a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
=======
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0; /* Increased margin for more spacing */
}

a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
>>>>>>> Stashed changes
}